
#header{
    text-align: right;
}

#mainvisual img{
    width: 100%;
}

#chara1{
    margin: 100px auto;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 50px;
    font-weight: bold;
}


#story{
    margin: 100px auto;

}
#chara1{
    display: flex;
    justify-content: center;
    text-align: center;
}
#chara2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.fadein {
  transition: all 1s ease;
}
.fadein.hide {
    opacity: 0;
    transform: translateY(100px);
  }

  /* ハンバーガーメニュー */
/*----------------------------
* メニュー開閉ボタン
*----------------------------*/
.menu-trigger{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
  }


  
/* blockをつけることによって
ラベルのスパンが縦並びになる
スパンは真ん中の線（要素）
contentに何も入れず
要素の前と後ろを同じに線をつける
abusoluteは絶対位置*/
/* .menu-trigger span,
.menu-trigger span:before,
.menu-trigger span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: white;
    position: absolute;
} */

/* 下から８px */
/* .menu-trigger span:before {
    bottom: 8px;
} */

/* 上から８px */
/* .menu-trigger span:after {
    top: 8px;
} */
.nav-list{
    position: fixed;    
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
}

.nav-item{
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.nav-list{
    transform: translateX(100vw);
    transition: all .3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .nav-list.is-active{
    transform: translateX(0);
    opacity: 90%;
  }



  
  /* リヴァイ、アルミン */
  .levi{
    transform: translateX(0);
    transition: all 1s ease;
  
  }
  .levi.levihide{
    transform: translateX(100vw);
    transition: all .3s linear;

  }
  .alumin{
    transform: translateX(0);
    transition: all 2s ease;
  }
  .alumin.aluminhide{
    transform: translateX(-100vw);
    transition: all .3s linear;

  }
 
  
  /* ハンバーガーアニメーション */
  .menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 2;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 20px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

/* ここから */
.menu-trigger span:nth-of-type(1) {
  animation: menu-bar01 .5s forwards;
}

@keyframes menu-bar01 {
  0% {
    transform: translateY(20px) rotate(45deg);
  }

  60% {
    transform: translateY(20px) rotate(0);
  }

  85% {
    transform: translateY(20px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

.menu-trigger span:nth-of-type(2) {
  transition: all .25s .25s;
  opacity: 1;
}

.menu-trigger span:nth-of-type(3) {
  animation: menu-bar03 .5s forwards;
}

@keyframes menu-bar03 {
  0% {
    transform: translateY(-20px) rotate(135deg);
  }

  60% {
    transform: translateY(-20px) rotate(0);
  }

  85% {
    transform: translateY(-20px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

.menu-trigger.active span:nth-of-type(1) {
  animation: active-menu-bar01 .5s forwards;
}

@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }

  70% {
    transform: translateY(20px) rotate(0);
  }

  85% {
    transform: translateY(20px) rotate(0);
  }

  100% {
    transform: translateY(20px) rotate(405deg);
  }
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  animation: active-menu-bar03 .5s forwards;
}

@keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }

  70% {
    transform: translateY(-20px) rotate(0);
  }

  85% {
    transform: translateY(-20px) rotate(0);
  }

  100% {
    transform: translateY(-20px) rotate(495deg);
  }
}

  