body{
  width: 960px;
  
  margin-right: auto;
    margin-left: auto;
    position: relative;
    background-color: #222;
}

main{
  background-color: #333;
}


#mainvisual{
  position: relative;
  width:100%;
  height:680px;
  margin: 50px calc(75% - 50vw);
}

#mainvisual .mv-img img{
  width:100%;
  height:100%;
  object-fit: cover; 
  position:absolute
}




/* #header{
    text-align: right;
} */

.nav{
  position: absolute;
  z-index: var(--zindex-menu-button);
  top: 0;
  right: 0;
  bottom: 0;
}

#mainvisual img{
    width: 100%;
}

#chara1{
    margin: 100px auto;
}

h1{
    font-size: 50px;
    font-weight: bold;
    color: #f3efe6;
    text-align: center;
}

h2{
    font-size: 30px;
    color: white;
}

h3{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}


#story{
    margin: 100px auto;
color: white;
}
#chara1{
    display: flex;
    justify-content: center;
    text-align: center;
}
#chara2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.fadein {
  transition: all 1s ease;
}
.fadein.hide {
    opacity: 0;
    transform: translateY(100px);
  }
  /* ハンバーガーメニュー */
.nav-list{
    position: fixed;    
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
}

.nav-item{
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

/*----------------------------
* アニメーション部分
*----------------------------*/

/* アニメーション前のメニューの状態 */
.nav-list{
    transform: translateY(-100vw);
    transition: all .3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .nav-list.is-active{
    transform: translateY(0);
    opacity: 90%;
  }



  
  /* リヴァイ、アルミン */
  .levi{
    transform: translateX(0);
    transition: all 1s ease;
  
  }
  .levi.levihide{
    transform: translateX(100vw);
    transition: all .3s linear;

  }
  .alumin{
    transform: translateX(0);
    transition: all 2s ease;
  }
  .alumin.aluminhide{
    transform: translateX(-100vw);
    transition: all .3s linear;

  }
 
  
  /* ハンバーガーアニメーション */
  .menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: sticky;
  top: 20px;
  margin-right: 20px;
  z-index: 2;
  width: 24px;
  height: 32px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color:white;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0px;
}

.menu-trigger span:nth-of-type(2) {
  top: 9px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 11px;
}

/* ここからハンバーガーメニューのアニメーション */
.menu-trigger span:nth-of-type(1) {
  animation: menu-bar01 .5s forwards;
}

@keyframes menu-bar01 {
  0% {
    transform: translateY(9px) rotate(45deg);
  }

  60% {
    transform: translateY(9px) rotate(0);
  }

  85% {
    transform: translateY(9px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

.menu-trigger span:nth-of-type(2) {
  transition: all .25s .25s;
  opacity: 1;
}

.menu-trigger span:nth-of-type(3) {
  animation: menu-bar03 .5s forwards;
}

@keyframes menu-bar03 {
  0% {
    transform: translateY(-9px) rotate(135deg);
  }

  60% {
    transform: translateY(-9px) rotate(0);
  }

  85% {
    transform: translateY(-9px) rotate(0);
  }

  100% {
    transform: translateY(0) rotate(0);
  }
}

.menu-trigger.active span:nth-of-type(1) {
  animation: active-menu-bar01 .5s forwards;
}

@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }

  70% {
    transform: translateY(9px) rotate(0);
  }

  85% {
    transform: translateY(9px) rotate(0);
  }

  100% {
    transform: translateY(9px) rotate(405deg);
  }
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  animation: active-menu-bar03 .5s forwards;
}

@keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }

  70% {
    transform: translateY(-9px) rotate(0);
  }

  85% {
    transform: translateY(-9px) rotate(0);
  }

  100% {
    transform: translateY(-9px) rotate(495deg);
  }
}

  
/* slick スライダー */
/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 90%;
  margin:0 auto;
}

/* 真ん中寄せ */
.slick-slide img{
  margin: 0 auto;
}

.slider .slick-slide {
	transform: scale(0.8);/*左右の画像のサイズを80%に*/
	transition: all .5s;/*拡大や透過のアニメーションを0.5秒で行う*/
	opacity: 0.5;/*透過50%*/
}

.slider .slick-slide.slick-center{
	transform: scale(1);/*中央の画像のサイズだけ等倍に*/
	opacity: 1;/*透過なし*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align:center;
margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;/*ドットボタンのサイズ*/
  height:8px;/*ドットボタンのサイズ*/
  display:block;
  border-radius:50%;
  background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
  background:#333;/*ドットボタンの現在地表示の色*/
}